body {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color: #f5f5f5;
        }

        .card {
            border: 1px solid #ccc;
            padding: 15px;
            margin: bottom 15px;
            border-radius: 9px;

        }