body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    

    display: flex;

    flex-direction: column; 
  
    align-items: center;     
  
    justify-content: center; 
    min-height: 100vh;
}

h1 {
    margin-bottom: 20px; 
}

.card {
    background-color: #d0d0d0; 
    color: rgb(0, 0, 0);
    border: 1px solid #7c7070;
    padding: 20px;
    margin-bottom: 5px; 
    border-radius: 30px;
    width: 300px; 
    text-align: center;
}